@import '../../../Theme.scss';

.password-component {
	.MuiFormGroup-root {
		margin-bottom: 30px;
		.form-title {
			font-size: 18px;
			margin-bottom: 8px;
		}
	}
	.custom-input {
		height: 40px;
		font-size: 14px;
		::placeholder {
			font-weight: normal;
		}
		&.textarea-input {
			min-height: 90px;
			height: initial;
		}
		svg {
			color: white;
		}
	}
	.save-btn {
		height: 40px;
		max-width: 240px;
		margin-top: 10px;
	}
}