@import '../../Theme.scss';

.createcommunity-page {
  .start-area {
    width: 100%;
    background: $main-bg;
    position: relative;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.34);

    .custom-container {
      position: relative;
      .writings {
        text-align: center;
      }
    }
  }
  .create-content {
    .create-panel {
      border-radius: 10px;
      background: $main-bg;
      max-width: 800px;
      width: 100%;
      h2 {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 8px;
      }
      textarea {
        border: 1px solid #707070;
        font-size: 12px;
        padding: 13px;
        resize: none;
        margin-bottom: 20px;
        border-radius: 5px;
        color: white;
        background: $second-bg;
      }
      .headline {
        height: 60px;
      }
      .sub-area {
        margin-top: 8px;
        .search-element {
          height: 44px;
        }
        .custom-select {
          option {
            color: white;
            background: $main-bg;
          }
        }
      }
      .create-btn {
        max-width: 240px;
        width: 100%;
        height: 50px;
        margin: 28px auto 0 auto;
        border-radius: 26px;
      }
    }
  }
}


@media screen and (min-width: 992px) {
  .createcommunity-page {
    .start-area {
      padding: 23px 0 29px;
      .custom-container {
        .writings {
          h1 {
            font-size: 30px;
            line-height: 43px;
          }
          p {
            font-size: 19px;
            line-height: 30px;
          }
        }
      }
    }
    .create-content {
      padding: 27px 0 158px;
      .create-panel {
        padding: 36px 25px 66px 25px;
        h1 {
          font-size: 30px;
          line-height: 43px;
          margin-bottom: 33px;
        }
        .post-content {
          height: 183px;
        }
        .sub-area {
          justify-content: space-between;
          .MuiFormControl-root {
            width: calc(50% - 5px);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .createcommunity-page {
    .start-area {
      padding: 11px 0 29px;
      .custom-container {
        .writings {
          h1 {
            font-size: 24px;
            line-height: 35px;
          }
          p {
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
    .create-content {
      padding: 12px 0 24px;
      .create-panel {
        padding: 15px 15px 28px 15px;
        h1 {
          font-size: 18px;
          line-height: 25px;
          margin-bottom: 16px;
        }
        .post-content {
          height: 97px;
        }
        .sub-area {
          flex-direction: column;
          .MuiFormControl-root {
            width: 100%;
            margin-bottom: 16px;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }
}